*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}
header, section, footer, aside, nav, article, hgroup{
	display:block;
}
body{
	text-align:center;
	background-image:url("../images/background.jpg");
}
#body{
	border: 1px solid black;
	margin: 20px auto;
	text-align:left;
	background-repeat:no-repeat;
	background-position:center;
	background-size:800px 480px;
	background-color:#00BFFF;
}
#nav {
	background:#333;
	color:white;
	padding:20px;
}
#nav a {
	border-right:1px solid #bbb;
	display:inline-block;
	color:white;
	padding:5px;
	font:bold 14px "Times New Roman";
}
#nav #contact {
	color:#DC143C;
	font-size:30px;
}
#searching {
	float:right;
}
#footer {
	text-align:center;
	clear:both;
	background-color:#333;
	color:white;
}
#formdiv {
	text-align:center;
}
#form{
	text-align:left;
}
#homebutton {
	width:50px;
	height:25px;
	
}
#link{
	color:#FF00FF;
}
#gmailbutton{
	width:30px;
	height:25px;
}
#emailcontact {
	color:red;
}
