*{
	margin:0px;
	padding:0px;
}
header, section, footer, aside, nav, article, hgroup{
	display:block;
}
body{
	text-align:center;
	background-image:url("../images/background.jpg");
}
#body{
	border: 1px solid black;
	margin: 20px auto;
	text-align:left;
	background-color:#00BFFF;
}
#nav {
	background:#333;
	color:white;
	padding:20px;
}
#nav a {
	border-right:1px solid #bbb;
	display:inline-block;
	color:white;
	padding:5px;
	font:bold 14px "Times New Roman";
}
#nav #gallery {
	color:#DC143C;
	font-size:30px;
}
#searching {
	float:right;
}
#footer {
	text-align:center;
	clear:both;
	background-color:#333;
	color:white;
}
#link{
	color:#FF00FF;
}
#mainpart{
	display:inline-block;
	float:left;
	margin-top:30px;
}
#aside{
	float:left;
	margin-top:30px;
}
img{
	display: inline-block;
	width:300px;
	height:200px;
}
figure{
	display:inline-block;
	padding-bottom:50px;
}
h2{
	text-align:center;
	padding-bottom:30px;
}