*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}
header, section, footer, aside, nav, article, hgroup{
	display:block;
}
body{
	text-align:center;
	background-image:url("../images/background.jpg");
}
#body{
	border: 1px solid black;

	margin: 20px auto;
	text-align:left;
	background-color:#00BFFF;
}
#nav {
	background:#333;
	color:white;
	padding:20px;
}
#nav a {
	border-right:1px solid #bbb;
	display:inline-block;
	color:white;
	padding:5px;
	font:bold 14px "Times New Roman";
}
#nav #team {
	color:#DC143C;
	font-size:30px;
}
#searching {
	float:right;
}
#footer {
	text-align:center;
	clear:both;
	background-color:#333;
	color:white;
}
#link{
	color:#FF00FF;
}
h2{
	text-align:center;
}
img{
	display:block;
	width:400px;
	height:300px;
	margin-left:auto;
	margin-right:auto;
}
#part1{
	width:700px;
	float:left;
}
#part2{
	width:700px;
	float:left;
}
#part1, #part2{
	padding-bottom:40px;
	padding-top:30px;
}
address{
	text-align:center;
}
.resumes{
	display:block;
	text-align:center;
	word-wrap: break-word
}
figcaption{
	text-align:center;
	font-size:30px;
}
h4{
	text-align:center;
}
h2{
	margin-top:30px;
}
.labels{
	text-align:center;
}